html,body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   font-family: Arial, sans-serif; 
}
#container {
   background: #ccc url(../images/forms/blue_dot.gif) repeat;  
   min-height:100%;
   position:absolute;
   width: 100%;
}

#header {
   background:#ccc;
}

#main {
   background: #fff url(../images/forms/blue_dot.gif) repeat;
   margin: 0;
   min-height:100%;
   padding-bottom:50px;   /* Height of the footer */
   margin-right: 10px;
   margin-left: 10px;
}

#footer {
   background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   
}

.groupbox {
    padding-top: 1px;
}

.box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
}

.subgroup{
  margin-bottom:10px;
}

#Left {
    float: left;
    width: 23%;
    padding-left: 10px;
}

#Center {
    float: left;
    width: 40%;
    vertical-align:middle;
    padding-left: 10px;
    /*margin-left:25%;*/
}


#Right {
    float: left;
    width: 34%;
    padding-left: 10px;
    /*margin-right:67%;*/
}

.noborder{
  border: 0px;
}

.info{
    background-image: url(../images/forms/light_blue_dot.gif);
    border: 1px solid #ccc;
    position: relative;
    font-weight: lighter;
    font-size: 13px;
    padding: 5px 5px;
}

.info_header {
    background: #fff url(../images/forms/Header.png) top repeat-x;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    height:26px;
    margin: 7px 0 0 0;
    font-family: Comic Sans MS,cursive, sans-serif;
}

.info_image {
     vertical-align:35%;
     border: 0px;
}

.info_title {
    vertical-align:50%;
}

.info_alert {
     background: transparent url(../images/skin/information.png) 7px 50% no-repeat;
     padding-right: 15px;
     vertical-align:35%;
     float: right;
     cursor:pointer;
}

.pie_chart{
    background: #FBFCDA;
    border: 1px solid #ccc;
    width: auto;
    height: 100%;
}

.appsHeader {
    /*background: #FFFFFF url(../images/forms/HeaderBG.gif) repeat;*/
    /*border: 1px solid #ccc;*/
    color: #393B0B;
    font-weight: normal;
    font-size: 20px;
    text-align:center;
    vertical-align:middle;
    height:30px;
    margin: 7px 0 0 0;
    font-family: Arial, sans-serif; 
}


/* Labels */
.label_info {
    font-weight: lighter;
    font-size: 13px;
}


.label_homepage {
    font-weight: lighter;
    font-size: 12px;
}



.label {
    font-weight: lighter;
    font-size: 13px;
    color: #0B243B;
}

.value {
    font-weight: lighter;
    color: #717b88;
}


/* Line */

.line {
    background: #2647a0;
    height: 1px;
    font-size: 0;
    clear: both;
    margin: 5px 0px 0px 5px;
    width: 100%;
    padding: 0;
}
