h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 20px;
    margin: .8em 0 .3em 0;
}

h2 {
    color: #11512c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

h3 {
    color: #48802c;
    font-weight: normal;
    font-size: 12px;
    margin: .8em 0 .3em 0;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.close {
    background: url(../images/forms/close.png) center left no-repeat;
    color: #333;
    padding-left: 20px;
    float:right;
}

.helpbox {
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin:10px;
    padding:10px;
}


.info_title{
    font-size: 11px;
    color: #191970;
    width: 100px;
}

.info_gap{
    font-size: 11px;
    color: #191970;
    width: 5px;
}

.info_value{
    font-size: 10px;
    color: black;
}

.help_image{
    border: 1px dashed #5f9ea0;
    width:700px;
    height:400px;
}

.help_screen_div{
   width:700px;
   height:400px;
}

.screen_desc{
  font-size: 12px;
  color: #333;
}