html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

#projectLogo {
    background: #fff ;
	padding: 2px 0px 0px 0px;
    width:100%;    
}

#projectHeader {
   vertical-align:middle;
   float:left; 
   width:60%; 
}

/*#LoginInfo {*/
   /*background: #fff url(../images/uc-davis.jpg) bottom repeat-x;*/
   /*vertical-align:bottom;*/
   /*float:right;*/
   /*width:40%;*/
/*}*/


/* LIST */


#login {
    /*background: #fff url(../images/login.jpg) right no-repeat;*/
    /*background-size: 50%;    */
    padding-right: 1px;
    padding-left: 1px;
    overflow: visible;
    white-space: nowrap;
    margin-right: 33%;
    margin-left: 33%;
    width:33%;
    height:175px;
}

#login table {
    border: 0px solid #ccc;
    width: 50%;    
}

#login login_message {color:red;}



a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

ul {
    padding-left: 15px;
}

li.listbox {
    margin-bottom:5px;
}


input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 100px;
	vertical-align: top;
}

.radiogroup{
  font: 11px verdana, arial, helvetica, sans-serif;
  margin-right: 5px;
}


input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0px 15px 10px 15px;
}

/* NAVIGATION MENU */
.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 0px;
    padding: 7px 12px;
}
.menuButton {
    font-size: 11px;
    cursor: pointer;
}
.menuButton a {
    color: #333;
    padding: 9px 1px;
    overflow: visible;
    white-space: nowrap;
}
.menuButton a.home {
    background: url(../images/forms/home.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}
.menuButton a.list {
    background: url(../images/skin/list.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 18px;
}
.menuButton a.create {
    background: url(../images/skin/new.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 18px;
}
.menuButton a.search {
    background: url(../images/forms/search.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}
.menuButton a.back {
    background: url(../images/forms/back.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 18px;
}
.menuButton a.exportexp {
    background: url(../images/skin/excel.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}

.exportexp {
    background: url(../images/skin/excel.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* HOME PAGE BUTTONS */
#homepageMenu {
    font-size: 10px;
    padding: 0px 1px;
}
#homepageMenu a {
    color: #292A0A;
    padding: 4px 6px;
    cursor: pointer;
    overflow: visible;
    white-space: nowrap;    
}
#homepageMenu a.home {
    background: transparent url(../images/forms/home.png) 5px 50% no-repeat;
    background-size: 16px;
    padding-left: 25px;
}
#homepageMenu a.login {
    background: transparent url(../images/forms/sign_in.png) 5px 50% no-repeat;
    background-size: 16px;
    padding-left: 25px;
}
#homepageMenu a.logout {
    background: transparent url(../images/forms/sign_out.png) 5px 50% no-repeat;
    background-size: 16px;
    padding-left: 25px;
}
#homepageMenu a.register {
    background: transparent url(../images/forms/user.png) 5px 50% no-repeat;
    background-size: 16px;
    padding-left: 25px;
}
#homepageMenu a.contactus {
    background: transparent url(../images/forms/contactus.png) 5px 50% no-repeat;
    background-size: 16px;
    padding-left: 25px;
}
#homepageMenu a:hover{
    border:solid 1px #888888;
    color: #868A08;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 0px 0 5px 0;
    padding: 5px 5px 5px 30px
}


div.errors {
    background: #fff3f3 url(../images/skin/exclamation.png) 8px 50% no-repeat;
    font: 11px verdana, arial, helvetica, sans-serif;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

/* LIST */
.list table {
    border-collapse: collapse;
}
.list td {
    border-left: 1px solid #ddd;
}
.list th {
    border-left: 1px solid #ddd;
    color:#fff;
}
.list tr:hover {
    background: #b2d1ff;
}
.list th:hover{
    background: #b2d1ff;
    color:#000;
}
.list sortable{
    border-left: 1px solid #ddd;
    color:#fff;
}
.list sortable:hover{
    border-left: 1px solid #ddd;
    color:#fff;
}


/* PAGINATION */
.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}


/* DIALOG */
.dialog {
    background-image: url(../images/forms/light_blue_dot.gif);
    border: 1px solid #ccc;
    position: relative;
    font-weight: lighter;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
}
.dialog table {
    border: 0px solid #ccc;
    width: 100%
}
.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */
.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    margin-top: 2px;
    padding: 3px 4px;
}
.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
    overflow: visible;
    white-space: nowrap;
}
.buttons input.delete {
    background: transparent url(../images/skin/trash.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}
.buttons input.edit {
    background: transparent url(../images/skin/edit.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}
.buttons input.save {
    background: transparent url(../images/skin/save.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}

.buttons input.submit {
    background: transparent url(../images/forms/submit16.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}
.buttons input.genericsearch {
    background: transparent url(../images/forms/genericsearch.png) 5px 50% no-repeat;
    padding-left: 25px;
    background-size: 16px;
}


.buttonSubmit {
    background: #fff url(../images/forms/submit16.png) 5px 50% no-repeat ;
    padding-left: 25px;
    background-size: 16px;
    overflow: visible;
    white-space: nowrap;
    border: 1px dotted #585F5F;
}



table {
    border: 1px solid #ccc;
    width: 100%
}
table.result {
    border: 1px solid #ccc;
    background-color: #ccc;
    width: 100%;
}

table.result td,th{
    padding: 2px;
}

table.table_noborder {
    border: 0px solid #ccc;
    width: 100%
}
table.tableBox {
  border: 2px solid #ccc;
  width: 95%
}

th{
    background: #6E6E6E;/*url(../images/forms/Header.png);*/
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    height:26px;
    margin: 0 0 0 0;
    font-family: Comic Sans MS,cursive, sans-serif;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
tr {
    border: 0;
}
td{
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}
th {
    font: 13px verdana, arial, helvetica, sans-serif;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
}
th, td {
    padding-left:1px;
    padding-right:1px;
    margin-left:10px;
    margin-right:10px;
}


th.name-no-break,td.name-no-break {
    white-space: nowrap;
    width: 100px;
}
th.srno-no-break,td.srno-no-break {      
    white-space: nowrap;
    width: 30px;
}
th.name-with-break, td.name-with-break {
    white-space: normal;
    width: 150px;
}
th.name-with-largespace-break, td.name-with-largespace-break {
    white-space: normal;
    width: 300px;
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sort_ascending.png);
}
th.desc a {
    background-image: url(../images/skin/sort_descending.png);
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

.forminputlabel{
    /*color: #5E610B;*/
    font-weight:bold;
    text-transform:capitalize;
}

.odd { background: #F5F5F5; }
.even { background: #F8FAFD; }
.highlight { background-color: #b2d1ff; }
.tdBox{ background-color: #CECEF6;}


#pagePath {
	color: #35361B;
	text-decoration: none;
    font-weight: normal;
    font-size: 9px;
    height:30px;
    margin: 0px
}

#pagePath span{
	/*color: #fff ; #FE9A2E;*/
    color: #fff ;
	font-size: 18px;
	text-decoration: none;
}

#pagePath h1 a {
	color: #35361B;
	text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    text-align:center;
    vertical-align:middle;
    height:30px;
}
#pagePath h1 a:hover {
	color: #93b2c8;
	font-size: 19px;
}

.highlighting{
    color:#a52a2a;    
    background-color: #ffff00;
}
.searchdatafound{
    color:#483d8b;
}
.searchdatanotfound{
    color:red;    
}

.description{
    margin-left:10px;
    margin-top:2px;
    margin-bottom:2px;
}

.notes{
    margin-top:5px;
    color:red;
}

.notes_header{
    font-size:14px;
}

.notes_note{
   margin-left:5px;
   padding-top:2px;
   font-size:12px;
}