<style type="text/css">{  }

.pagination{
    background: transparent;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    width:100%;
    font-size: 10px;
    overflow: hidden;
    padding-bottom:1px;
    padding-top:1px;
}

.pagination_top{
    background: transparent;
    border: 0px solid #ccc;
    border-top: 0;
    color: #666;
    width:100%;
    font-size: 10px;
    overflow: hidden;
    padding-bottom: 1px;
    padding-top: 5px;
}

.pagination_bottom{
    background: transparent;
    border: 0px solid #ccc;
    border-top: 0;
    color: #666;
    width:100%;
    font-size: 10px;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 1px;
}

.paginationlabel {
    font-family: Verdana;
    text-decoration: none;
    font-size: 8pt;
    font-weight: bold;
    color: #2e6ab1;
    border: 0;
}


#pagination-digg ul {
    border:0;
    margin:0;
    padding:0;
    list-style-type: none;
    list-style-image: none;
}

#pagination-digg li{
    border:0; margin:0; padding:0;
    font-size:11px;
    list-style:none;
    margin-right:2px;
    list-style-type: none;
    list-style-image: none;
}

#pagination-digg .prevLink,
#pagination-digg .nextLink {
    border:0;
    margin:0;
    padding:0;
    font-size:11px;
    list-style:none;
    margin-right:2px;
}



#pagination-digg a{
    border:solid 1px #9aafe5;
    margin-right:2px;
}

#pagination-digg .prevLink-off,
#pagination-digg .nextLink-off {
    border:solid 1px #DEDEDE;
    color:#888888;
    display:block;
    float:left;
    font-weight:bold;
    margin-right:2px;
    padding:3px 4px;
}

#pagination-digg .prevLink a,
#pagination-digg .nextLink a {
    font-weight:bold;
}

#pagination-digg .step{
    border:0;
    margin:0;
    padding:0;
    font-size:11px;
    font-weight:normal;
    list-style:none;
    margin-right:2px;
}

#pagination-digg .andSoOn{
    color:#888888;
    font-weight:bold;
    display:block;
    float:left;
    padding:3px 4px;
}

#pagination-digg .currentStep{
    background:#2e6ab1;
    color:#FFFFFF;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 6px;
    margin-right:2px;
}


#pagination-digg a:link,
#pagination-digg a:visited {
    color:#0e509e;
    display:block;
    float:left;
    padding:3px 6px;
    text-decoration:none;
}
#pagination-digg a:hover{
    border:solid 1px #0e509e
}

</STYLE>