<%--
  Created by IntelliJ IDEA.
  User: pradeep
  Date: Jul 22, 2010
  Time: 3:33:40 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
  <head><title>Simple GSP page</title></head>
  <body>Place your content here</body>
</html>