<%--
  Created by IntelliJ IDEA.
  User: pradeep
  Date: Jul 22, 2010
  Time: 6:01:43 PM
  To change this template use File | Settings | File Templates.
--%>


<ul>
    <li class="listbox"><g:link controller="user" action="list"> Configure User </g:link>
    </li>

    <li class="listbox"><g:link controller="role" action="list">Configure Roles</g:link>
    </li>

    <li class="listbox"><g:link controller="requestmap" action="list">Configure Role Based Request</g:link>
    </li>

    <li class="listbox"><g:link controller="search" action="exportexp" params="[id:'export_all',format:'excel',extension:'xls']">Export SetupX Data</g:link>
      <p>Export SetupX Database in excel format</p>
    </li>
</ul>