
<g:form name="login" controller="login" method="post" class="login">
    <table width="100%" cellpadding="0" cellspacing="0" class="table_noborder">
        <tr>
          <td width="30%" class="label_homepage"> User Id</td>
          <td width="5%" class="label_homepage"> : </td>
          <td width="50%">
            <input type="text" value=" "/>
          </td>          
        </tr>

        <tr>
          <td width="30%" class="label_homepage"> Password</td>
          <td width="5%" class="label_homepage"> : </td>
          <td width="50%">
            <g:passwordField id="pwd" name="pwd" value="" ></g:passwordField>
          </td>          
        </tr>
      <tr>
           <td colspan="3" align="right"><div title="Click to login">
            <g:actionSubmit name="submit" action="search" class="buttonSubmit" value="Go"/>
           </div> </td>
      </tr>
    </table>
</g:form>