<%--
  Created by IntelliJ IDEA.
  User: pradeep
  Date: 3/2/11
  Time: 2:02 PM
  To change this template use File | Settings | File Templates.
--%>

<ul>
    <li class="listbox"><a href="${resource(dir:'',file:'')}/moreservices/webservices.gsp">Web Services</a>
      <p> Directly access the system by the use of our simple soap based webservices</p>
    </li>

</ul>