<%--
  Created by IntelliJ IDEA.
  User: pradeep
  Date: Oct 28, 2010
  Time: 11:30:49 AM
  To change this template use File | Settings | File Templates.
--%>

<div class="progressBar">
     <div style="width:${progress}%;background-color:#ffa07a;float:left;height:100%">
         ${(int)progress}%
     </div>
</div>

<div class="current">
  current class:${current}
</div>

<div class="received">
  received id's:${received}
</div>